body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(197, 87, 244, 0.544) 12.9%,rgba(181, 221, 248, 0.7) 91.2% );
    background-size: 200% 100%; /* Set a larger width for the gradient */
    animation: gradientAnimation 3s linear infinite alternate; /* Use keyframes animation */
}
    @keyframes gradientAnimation {
    0% {
      background-position: 10% 0;
    }}

header {
    background-image: linear-gradient(to right top, #3373cd, #7f9de2, #366ab7);
    color: #000000;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
.hero {
    
    background-size: cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    margin: 0;
}
.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
}
.second {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.second h1 {
    font-size: 4rem;
    margin: 0;
}
.second p {
    font-size: 1.5rem;
    margin: 20px 0;
}
.hero button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}
.hero button:hover {
    background-color: #333;
    color: #fff;
}
.about-me {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 20%;
}
.content
{
    background-color: rgba(181, 221, 248, 0.7); /* Adjust the alpha value for transparency */
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 30px;
    width: 250px;
    height: 400px;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
}
#rowTwo{
    height: 420px;
}
  .content:hover {
    transform: translateY(0);
    box-shadow: inset 0 0 60px #8ef6ff,
                inset 20px 0 80px rgb(186, 127, 235),
                inset -20px 0 80px #fefffe,
                inset 20px 0 300px #bcf3ff,
                inset -20px 0 300px #74e8db,
                0 0 50px #ffeeee,
                -10px 0 80px rgb(128, 193, 237),
                10px 0 60px #dab7f1;
  }
  
  
  
.content img{
    width: 200px;
    height: 200px;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    height: auto;
    width: 100%;
    font-family: Arial, sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
:root {
    --bg: rgb(255, 255, 255);
    --bg-input: #141419;
}
:root{
    --bg:linear-gradient(to top right, #393998 41%, #aff6fa 100%);
   
    --bg-input: #e1e1ed;
}
.light-mode {
    --bg: linear-gradient(to left, #2a2d30, #080a0c);
    --bg-input: #fcf9f9;
}
body {
    background: var(--bg);
    color: var(--color-text);

}
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch+label {
    padding: 2px;
    width: 52px;
    height: 27px;
    background-color: var(--color-border), rgba(23, 21, 21, 0.3);
    border-radius: 100px;
}
.switch+label:before,
.switch+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.switch+label:before {
    right: 1px;
    background-color: var(--bg-input);
    border-radius: 60px;
    transition: all 0.4s;
}
.switch+label:after {
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.switch:checked+label:before {
    background-color: #f3eff5;
}
.switch:checked+label:after {
    transform: translateX(30px);
}
h1{
    color: rgb(218, 236, 251);

}
p{
    color: whitesmoke;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}