body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #aa4b6b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3b8d99,
        #6b6b83,
        #aa4b6b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}
.navbar-brand {
    font-family: "Young Serif", serif;
    font-size: 5vh !important;
    color: black !important;
}
.navbar-nav {
    color: black;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.navbar {
    color: black;
    padding: 0 15px 0 15px;
    backdrop-filter: blur(12px);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    min-height: 64px;
}
header {
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
}
.nav-item {
    color: #000;
    text-decoration: none;
    margin-right: 4px;
    font-size: larger;
    font-weight: 600;
}
.hero {
    background-size: cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    margin: 0;
}
.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
}
.second {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.second h1 {
    font-size: 4rem;
    margin: 0;
}
.second p {
    font-size: 1.5rem;
    margin: 20px 0;
}
.hero button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}
.hero button:hover {
    background-color: #333;
    color: #fff;
}
.about-me {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 20%;
}
.content {
    background-color: #fff;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 30px;
    width: 250px;
    text-align: center;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.navbar-nav a:hover{
    transition: 0.25s;
    color: rgb(128, 193, 237);
}
.content:hover {
    cursor: default;
    transform: translateY(0);
    box-shadow: 0 0 25px #ffeeee, -10px 0 40px rgb(128, 193, 237),
        10px 0 60px #dab7f1;
    transition: 0.25s;
}

.content h2 {
    margin-top: 10px;
    font-weight: bold;
}

.content img {
    width: 200px;
    height: 200px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.socials {
    display: flex;
    justify-content: center;
}
.fa {
    padding: 0.5vw;
}
