@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  background-color: rgb(5 6 24);
  height: 100vh;
  overflow-x: auto;
  padding: 0px 22px;
  padding-left: 10px;
  position: fixed;
  /* border-radius: 0 70px 70px 0; */
  box-shadow: 14px 0px 30px -10px cornflowerblue;
  z-index: 1;
  /* display: none; */
}

.img-container {
  text-align: center;
  width: 290px;
  margin-top: 100px;
}

.img-container img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 0px 0px 21px 2px azure;
}

.heading {
  text-align: center;
  height: 170px;
}

.heading h1 {
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

span {
  color: rgb(5, 246, 250);
}

.nav-list {
  text-align: center;
  height: 230px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.nav-list ul {
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.nav-list ul li {
  border-radius: 15px;
  padding: 4px;
  list-style: none;
  font-weight: bold;
  transition: all 1s ease-in-out;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  transition: all 1s ease-in-out;
}

.nav-list ul li.active a {
  text-decoration: underline;
  color: rgb(3, 172, 190);
}

.nav-list ul li:nth-child(2n):hover {
  background: linear-gradient(90deg, rgb(164, 164, 249), rgb(164, 164, 249), transparent);
}

.nav-list ul li:nth-child(2n + 1):hover {
  background: linear-gradient(-90deg, rgb(164, 164, 249), rgb(164, 164, 249), transparent);
}

.nav-list ul li a:hover {
  text-decoration: dotted;
  color: rgb(3, 33, 56);
}

.Cright-content {
  text-align: center;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {} */

::-webkit-scrollbar-thumb {
  background: #5b60e7;
  border-radius: 131px;
}

.home-section,
.about-section,
.services-section,
.skill-section,
.education-section,
.experience-section,
.work-section {
  position: relative;
  left: 350px;
  width: calc(100% - 350px);
  height: 100vh;
  background: rgb(3 2 16);
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}


.services-section,
.skill-section,
.education-section,
.work-section {
  height: 100%;
}

.about-section,
.skill-section,
.experience-section {
  background: rgb(13, 12, 30);
}

.about-content,
.service-content,
.skill-contents,
.education-content,
.experience-content,
.work-content {
  margin-top: 80px;
  padding: 40px;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 60px #1d4ed8;
  z-index: -1;
  left: 74px;
  top: 80px;
}

.heading-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 190px;
  margin-left: 40px;
  z-index: 2;
}

.heading-content h1 {
  font-size: 50px;
}

.heading-content h2 {
  color: rgb(163, 162, 162);
  font-weight: 200;
  font-size: 20px;
}

.me-img {
  position: relative;
  top: 0px;
  margin-left: 20px;
}

.me-img .blur {
  top: 423px;
  right: 74px;
  box-shadow: 0 0 198px 15px #1d4ed8;
}

.me-img img {
  width: 40%;
  margin-left: 560px;
}

.content {
  margin-top: 80px;
}

.content p {
  margin-top: 20px;
}

.content-cards {
  display: flex;
  margin: 25px 0px;
  padding: 60px 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

.content-cards .cards {
  height: 150px;
  background: #fff;
  box-shadow: 0 0 85px -20px black;
  width: 200px;
  overflow: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  border: 2px solid rgb(124, 255, 251);
}

.cards::before {
  content: "";
  width: 100%;
  /* background-color: ; */
}

.services-section .cards {
  height: 220px;
}

.card-back {
  position: absolute;
  box-shadow: 0 0 1000px 56px #ffffff;
  z-index: -1;
  right: 526px;
  top: 134px;
}

.content-cards .cards i {
  margin-top: 10px;
  font-size: 50px;
}

.fa-lightbulb-o {
  color: rgb(95, 95, 245);
}

.fa-connectdevelop {
  color: red;
}

.fa-desktop {
  color: yellow;
}

.fa-database {
  color: purple;
}

.cards:nth-child(1):before {
  content: "";
  position: absolute;
  width: 197px;
  bottom: 58px;
  left: 68px;
  border: 2px solid blue;
  background: blue;
}

.cards:nth-child(2):before {
  content: "";
  position: absolute;
  width: 197px;
  bottom: 58px;
  left: 308px;
  border: 2px solid red;
  background: red;
}

.cards:nth-child(3):before {
  content: "";
  position: absolute;
  width: 197px;
  bottom: 58px;
  left: 548px;
  border: 2px solid yellow;
  background: yellow;
}

.cards:nth-child(4):before {
  content: "";
  position: absolute;
  width: 197px;
  bottom: 58px;
  left: 788px;
  border: 2px solid purple;
  background: purple;
  height: 0.5px;
}

.card {
  display: grid;
  grid-template-columns: 80px 200px auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 275px;
  margin-top: 40px;
  background: rgb(30 30 65);
}

.card-data {
  grid-column: 1/3;
  top: 69px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}

.card-data h2 {
  padding: 10px 0;
  text-decoration: underline;
}

.card-data p {
  margin: 0 5px;
  padding: 0 5px;
}

.icon {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  display: table;
  margin: 0 auto;
  background-color: #2c98f0;
}

.icon::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 30px 50px;
  border-color: transparent transparent #2c98f0 transparent;
}

.icon::after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  border-color: #2c98f0 transparent transparent transparent;
}

.icon i {
  font-size: 30px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.red {
  background-color: rgb(239, 107, 107);
}

.red::after {
  border-color: rgb(239, 107, 107) transparent transparent transparent;
}

.red::before {
  border-color: transparent transparent rgb(239, 107, 107) transparent;
}

.yellow {
  background-color: rgb(228, 247, 126);
}

.yellow::after {
  border-color: rgb(228, 247, 126) transparent transparent transparent;
}

.yellow::before {
  border-color: transparent transparent rgb(228, 247, 126) transparent;
}

.blue {
  background-color: rgb(101, 82, 246);
}

.blue::after {
  border-color: rgb(101, 82, 246) transparent transparent transparent;
}

.blue::before {
  border-color: transparent transparent rgb(101, 82, 246) transparent;
}

.green {
  background-color: rgb(121, 248, 126);
}

.green::after {
  border-color: rgb(121, 248, 126) transparent transparent transparent;
}

.green::before {
  border-color: transparent transparent rgb(121, 248, 126) transparent;
}

.brown {
  background-color: rgb(75, 57, 33);
}

.brown::after {
  border-color: rgb(75, 57, 33) transparent transparent transparent;
}

.brown::before {
  border-color: transparent transparent rgb(75, 57, 33) transparent;
}

.orange {
  background-color: rgb(242, 200, 102);
}

.orange::after {
  border-color: rgb(242, 200, 102) transparent transparent transparent;
}

.orange::before {
  border-color: transparent transparent rgb(242, 200, 102) transparent;
}

.skill-slider {
  display: grid;
  margin: 20px 15px;
  padding: 15px;
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.slider {
  display: grid;
  margin: 5px 30px;
  position: relative;
}

.slider-content {
  display: flex;
  flex-direction: column;
}

.slider-content h3 {
  padding: 15px 0;
}

.bar {
  margin-bottom: 20px;
  border-radius: 4px;
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible;
}

.progressbar {
  float: left;
  height: 100%;
  transition: width 0.6s ease;
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.bar span {
  position: absolute;
  top: -22px;
  right: 0;
  color: #2c98f0;
}

.progressbar::after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  background: #2c98f0;
}

.photoshop {
  width: 75%;
  background: rgb(246, 79, 79);
}

.javascript {
  width: 70%;
  background: rgb(100, 120, 255);
}

.html-css {
  width: 85%;
  background: rgb(92, 248, 92);
}

.java {
  width: 80%;
  background: rgb(207, 246, 88);
}

.problem-solving {
  width: 80%;
  background: rgb(251, 176, 71);
}

.cpp {
  width: 50%;
}

.photoshop span {
  color: rgb(246, 79, 79);
}

.javascript span {
  color: rgb(100, 120, 255);
}

.html-css span {
  color: rgb(92, 248, 92);
}

.java span {
  color: rgb(207, 246, 88);
}

.problem-solving span {
  color: rgb(251, 176, 71);
}

.photoshop::after {
  background: rgb(246, 79, 79);
}

.javascript::after {
  background: rgb(100, 120, 255);
}

.html-css::after {
  background: rgb(92, 248, 92);
}

.java::after {
  background: rgb(207, 246, 88);
}

.problem-solving::after {
  background: rgb(251, 176, 71);
}

.accordion {
  position: relative;
  cursor: pointer;
  margin: 50px auto;
  width: 600px;
  color: #333333;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 0 20px;
  padding: 10px;
  border-radius: 8px;
}

.accordion li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: #f2f3f7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -0cap 10px -1px rgba(255, 255, 255, 0.7);
  font-family: 'Quicksand', sans-serif;
}

.accordion li label::after {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
}

input[type="radio"] {
  display: none;
}

.accordion .description {
  color: #555;
  margin-top: 5px;
  padding: 0px 25px;
  line-height: 26px;
  background: #f2f3f7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -0cap 10px -1px rgba(255, 255, 255, 0.7);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.accordion input[type='radio']:checked+label+.description {
  max-height: 400px;
  opacity: 1;
  padding: 10px 25px;
  transition: all 1s ease;
}

.accordion input[type='radio']:checked+label::after {
  content: "-";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
}

.accordion input[type='radio']:checked+label {
  background-color: #2c98f0;
  color: white;
  transition: all 1s ease;
}

.experience-details {
  margin: 50px 15px;
}

.card-holder {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  align-items: center;
}

.box {
  border-radius: 15px;
  background: #424040;
  width: 243px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: right;
  height: 200px;
  /* flex-wrap: wrap; */
  padding: 10px;
  position: relative;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.details p {
  background: rgb(13, 12, 30);
  margin: 5px;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.details span {
  background: rgb(13, 12, 30);
  color: white;
  margin: 5px;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 6px;
  border: 2px solid;
  border-image: linear-gradient(45deg, blue, red) 1;
}

.work-details .card-holder {
  flex-wrap: wrap;
}

.work-details .box {
  border-radius: 2rem;
  overflow: hidden;
  width: 336px;
  height: 190px;
  padding: 0;
  margin: 6px;
  box-shadow: 3px 8px 10px #222134;
}

.fds,
.pp,
.sh,
.ha,
.mn {
  height: 190px;
}

.work-details .box img {
  width: 350px;
}

.work-detail {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(64, 197, 254));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: all 0.5s ease-in;
}

.work-detail h2 {
  color: #290417;
  font-weight: bold;
}

.work-detail p{
  color: #290417;
  font-size: 18px;
}

.box:hover .work-detail {
  transform: translateY(0);
}

.work-detail a i {
  background: #fff;
  padding: 10px;
  color: black;
  border-radius: 50%;
}